body{
    /* background-color: #000; */
}
div{
    height: 100px;
    width: 100px;
    background-color: #fff;
    border:2px solid black;
    transition-property: all;
    transition-duration: 2s;
}

#hover:hover{
    background-color: #313131;
    font-size: large;
}

#click:active{
    background-color: red;
    font-size: small;
    font-weight: 700;
    color: #fff;
}

#easeInBox:hover{
    background-color: purple;
    transition-timing-function: ease-in;
    transition-duration: 4s;
}

#easeOutBox:hover{
    background-color: purple;
    transition-timing-function: ease-out;
    transition-duration: 4s;
}

#linearBox:hover{
    background-color: purple;
    transition-timing-function: linear;
    transition-duration: 4s;
}

#stepBox:hover{
    background-color: purple;
    transition-timing-function: steps(4);
    transition-duration: 4s;
}

#delayBox:hover{
    background-color: #000;
    transition-delay: 1s;
    color:white
}

#shorthandBox:hover{
    background-color: yellow;
    color: red;
    /* transition: all 1s ease-out 0; */
    transition:all 1s ease-in-out 0s;
}