*{
    margin:0;
    padding:0;
    /* color:white; */
}

#nav{
    height: 60px;
    background-color: #0f1111;
}

#searchButton{
    background-color: #f08804;
    color: white;
}

#logo{
    color:#f08804;
    font-size:25px;
}

a{
    margin-right:200px;
    text-decoration: none;
    color: white;
}